models/siammask_r50_l3/*.pth
models/siamrpn_alex_dwxcorr/*.pth
models/siamrpn_alex_dwxcorr_16gpu/*.pth
models/siamrpn_alex_dwxcorr_otb/*.pth
models/siamrpn_mobilev2_l234_dwxcorr/*.pth
models/siamrpn_r50_l234_dwxcorr/*.pth
models/siamrpn_r50_l234_dwxcorr_8gpu/*.pth
models/siamrpn_r50_l234_dwxcorr_16gpu/*.pth
models/siamrpn_r50_l234_dwxcorr_lt/*.pth
models/siamrpn_r50_l234_dwxcorr_otb/*.pth
models/siamrpn_r50_l234_dwxcorr_otb_8gpu/*.pth

videos/*.mp4
videos/*.avi

test/*.jpeg
test/*.jpg
